absl-py >= 0.7.0
astor >= 0.6.0
gast >= 0.2.0
google_pasta >= 0.1.6
keras_applications >= 1.0.6
keras_preprocessing >= 1.0.5
numpy >= 1.14.5, < 2.0
six >= 1.10.0
protobuf >= 3.6.1
tensorboard >= 1.14.0, < 1.15.0
tensorflow_estimator >= 1.14.0rc0, < 1.15.0rc0
termcolor >= 1.1.0
wrapt >= 1.11.1
mock==2.0.0
backports.weakref==1.0.post1
easydict==1.7
scipy==1.0.0
opencv-python==3.4.0.12
setuptools==20.7.0;python_version<"3"
setuptools==41.6.0;python_version>="3"
future==0.16.0;python_version<"3"
